body {
  background-color: #e6e7e8;
}
.Topnav {
  background-color:#353533; 
  overflow: auto;
  white-space: nowrap;
}
.Topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.Topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.grid-container {
display: grid;
grid-template-columns: auto, auto, auto;
}
.grid-item {
padding: 20px;
}
.myTableData {
  border: 5px outset red;
  background-color: lightblue;    
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  font-family: "Times New Roman", "serif";
  text-align: center;
  height: auto;
  width: 400px;
  padding: 5px;
  float: none;
}
.overSkrift {
  border: 5px outset red;
  background-color: lightblue;
  color: black;
  font-family: 'Palatino Linotype', 'Century Schoolbook L';
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px;
  float: none;
}
.brodTekst {
  color: black;
  font-family: "Times New Roman", "serif";
  background-color: lightblue;
  width: 850px;
  border: 5px outset red;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 5px;
  float: none;
}
.bilde {
  border:thick red;
  width: 500px;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 5px;
  float: right;
}
img{
	width: 100%;
	height: auto;
}
.myContactInfo {
  border: 5px outset red;
  background-color: lightblue;    
  width: 400px;
  height: auto;
  font-family: "Times New Roman", "serif";
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 5px;
  float: none;
}
footer {
    background-color:#353533;
    width:100%;
    height: 200px;
    text-align: center;
    color:white;
    display: inline-block;
    vertical-align: bottom;
}
